<!-- ==========================================
     CHARZEE HEADER
========================================== -->

<header class="header">

    <nav class="navbar navbar-expand-lg custom-navbar">

        <div class="container">

            <!-- Logo -->

            <a class="navbar-brand" href="index.html">

                <img src="assets/images/logo.png" alt="Charzee EV Solutions">

            </a>

            <!-- Mobile Toggle -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <!-- Navigation -->

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav mx-auto">

                    <!-- Home -->

                    <li class="nav-item">

                        <a class="nav-link active" href="index.html">

                            Home

                        </a>

                    </li>

                    <!-- About -->

                    <li class="nav-item">

                        <a class="nav-link" href="about.html">

                            About

                        </a>

                    </li>

                    <!-- Mega Menu -->

                    <li class="nav-item dropdown position-static">

                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">

                            Products

                        </a>

                        <div class="dropdown-menu mega-menu">

                            <div class="container">

                                <div class="row">




                                        <!-- Column 3 -->

                                    <div class="col-lg-2">

                                        <h6 class="mega-title">

                                            BESS

                                        </h6>

                                        <a href="components/home/product/battery-storage.html">BESS</a>

                                        <a href="components/home/product/bess-monitor.html">

                                            BESS Monitor

                                        </a>

                                        <a href="components/home/product/bess-monitoring-solution.html">

                                            BESS Monitoring Solution

                                        </a>

                                    </div>
                                    <!-- Column 1 -->


                                    <div class="col-lg-2">

                                        <h6 class="mega-title">

                                            Solar

                                        </h6>

                                        <a href="components/home/product/solar-ev-solutions.html">

                                            Solar Solutions

                                        </a>

                                        <a href="components/home/product/solar-power-plants.html">

                                            Solar Power Plants

                                        </a>

                                        <a href="components/home/product/solar-street-light.html">

                                            Solar Street Light

                                        </a>

                                        <a href="components/home/product/solar-water-pumps.html">

                                            Solar Water Pumps

                                        </a>

                                    </div>

                                
    <!-- Column 5 -->
                                    <div class="col-lg-2">

                                        <h6 class="mega-title">

                                            Battries

                                        </h6>

                                        <a href="components/home/product/battery-storage.html">

                                            Batteries

                                        </a>

                                      

                                   

                                    </div>
                                    <!-- Column 4 -->


                                    
                                    <div class="col-lg-2">

                                        <h6 class="mega-title">

                                            EV Chargers

                                        </h6>

                                        <a href="components/home/product/ac-ev-chargers.html">

                                            AC Chargers

                                        </a>

                                        <a href="components/home/product/dc-fast-chargers.html">

                                            DC Fast Chargers

                                        </a>

                                        <a href="components/home/product/accessories.html">

                                            Accessories

                                        </a>

                                    </div>

                                      
                                

                                         <!-- Column 2 -->
                                    <div class="col-lg-2">

                                        <h6 class="mega-title">

                                            Menu

                                        </h6>

                                        <a href="contact.html">

                                            Application Support

                                        </a>

                                        <a href="services.html">

                                            Services

                                        </a>
                                    </div>
                                    <!-- Banner -->

                                    <!-- <div class="col-lg-4">

                                        <img src="assets/images/menu-banner.webp" class="img-fluid rounded-4"
                                            alt="Charzee">

                                    </div> -->

                                </div>

                            </div>

                        </div>

                    </li>

                    <!-- Services -->

                    <!-- <li class="nav-item">

                        <a class="nav-link" href="services.html">

                            Services

                        </a>

                    </li> -->

                    <!-- Projects -->

                    <!-- <li class="nav-item">

                        <a class="nav-link" href="projects.html">

                            Projects

                        </a>

                    </li> -->

                    <!-- Portfolio -->

                    <!-- <li class="nav-item">

                        <a class="nav-link"
                           href="portfolio.html">

                            Portfolio

                        </a>

                    </li> -->

                    <!-- Testimonials -->

                    <!-- <li class="nav-item">

                        <a class="nav-link"
                           href="testimonial.html">

                            Testimonials

                        </a>

                    </li> -->

                    <!-- Blog -->

                    <li class="nav-item">

                        <a class="nav-link" href="blog.html">

                            Blogs

                        </a>

                    </li>

                    <!-- Contact -->

                    <li class="nav-item">

                        <a class="nav-link" href="contact.html">

                            Contact

                        </a>

                    </li>

                </ul>

                <!-- Right Button -->

                <a href="contact.html" class="btn btn-primary">

                    call us

                </a>

            </div>

        </div>

    </nav>

</header>